/* Utilizing the same CSS as the class activity I used as the most relevant guide for this assignment, but intend to do additional styling later */
li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  img {
    width: 100px;
  }